html {
  font-size: 18px;
  color: white;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  min-width: 100%;
  background-image: url('img/bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100dvh;
}

.main {
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 40px;
  background-color: rgb(32, 28, 28);
  box-shadow: 0px 0px 10px 5px rgb(255 255 255 / 50%);
}

.volver {
  margin-right: 30px;
  cursor: pointer;
}

.volver::before {
  content: '\25C0';
}

.card {
  border: none;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 10px 2px rgb(255 255 255 / 50%);
  padding: 10px 15px;
  position: relative;
  width: 330px;
  height: 270px;
}

.card:nth-child(2) {
  perspective: 800px;
}

.card__body {
  display: flex;
  justify-content: center;
  height: 200px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0 0 15px rgb(255 255 255 / 50%);
  transition: transform 1.5s;
  -moz-transition: transform 1.5s;
  -webkit-transition: transform 1.5s;
  transform-style: preserve-3d;
}

.card:nth-child(2) .card__body.flip {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card__body-mensaje,
.card__body-imagen {
  position: absolute;
  height: 200px;
  background: transparent;
  color: white;
  /* line-height: 300px; */
  color: #03446a;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  border: 4px inset white;
  width: 100%;
}

.card__body-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__body-mensaje:nth-child(2) {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.textarea {
  resize: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background: transparent;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
}

.textarea::placeholder {
  color: #ffffffad;
  font-weight: bold;
}

.img {
  height: 160px;
  /* width: 100%; */
}

.card__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  align-content: center;
  height: 60px;
}

.btn {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgb(255 255 255 / 50%);
  user-select: none;
  -webkit-user-select: none;
}

.btn:enabled:hover {
  background-color: #566885;
  color: #fff;
}

.btn:enabled:active {
  background-color: #1e293b;
  color: #fff;
}

.btn:disabled {
  cursor: default;
  background-color: #94979c;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-copyright {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 35px;
  width: 350px;
  height: 30px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 10px 4px rgb(255 255 255 / 50%);
  font-weight: 600;
  font-size: 0.8rem;
}

dialog {
  position: absolute;
  top: 0;
  margin: 60px auto;
  width: 75%;
  max-width: 300px;
  text-align: center;
  text-align: -webkit-center;
  border-radius: 10px;
  border: none;
  background-color: #a0c0d3;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.8);
}

dialog[open] {
  animation: show 1s ease normal;
}

dialog.hide {
  animation: hide 0.5s ease normal;
}

dialog button {
  display: none !important;
  margin: 20px auto 0 auto;
}

.show {
  display: block !important;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes show {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hide {
  to {
    transform: translateY(-300%);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100dvh;
    max-width: 1366px;
  }

  .header {
    border-radius: 0 0px 10px 10px;
  }

  .main {
    min-height: 85dvh;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: normal !important;
    margin-top: 20px;
    padding-top: 100px;
    gap: 12rem;
  }

  .card {
    height: 420px !important;

    & .card__body {
      height: 330px;
    }
    & .card__body-mensaje {
      height: 330px !important;
    }
    & .card__footer {
      margin: 10px 0;
    }
  }

  .img {
    height: 230px;
  }

  .card:nth-child(2) {
    height: 600px !important;
    perspective: 800px;
    justify-content: center;
    & .card__body {
      height: 510px !important;
    }
    & .card__body-mensaje,
    .card__body-imagen {
      height: 510px !important;
    }
  }

  .footer-copyright {
    width: 50% !important;
    font-size: 1.3rem;
  }
}
